p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
}
.jack{
float: left;
border-radius: 100%;
margin: 30px;
}
strong {
font-style: italic;}

em {
    font-weight: bold;
}